
.bg-image {
  position: fixed;

  /* The image used */
  background-image: url("../assets/images.jfif");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  top: 0px;
  left: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
